<table style="border: 1px solid;">
    @for (item of a; track item;let rowIndex = $index) {
        <tr>
            @for (item2 of a[rowIndex]; track $index;) {
                <td style="border: solid;text-align: center;width: 60px;"(click)="onClick(item2)">
                    <a style=" font-size: 40px;background: none;border: none;" >{{item2 === 0 ?'':item2}}</a>
                </td>
            }
        </tr>
    }

</table>
<button (click)="onClickShuffle()">สุ่ม</button>{{timer.hr+':'+timer.min+':'+timer.sec+':'+timer.ms}}<button (click)="reset()">รีเซ็ท</button>
<span>Score Board:</span>
